---
import MainGrid from "../components/MainGrid";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Lucas Kolinger | Frontend Developer">
  <div class="select-dark flex items-center justify-center bg-neutral-dark">
    <MainGrid client:load />
  </div>
</MainLayout>
