---
import ResumeEntryRow from "../components/ResumeEntryRow";
import ResumeHeader from "../components/ResumeHeader.astro";
import MainLayout from "../layouts/MainLayout.astro";
import ResumeCourseCard from "../components/ResumeCourseCard";
---

<MainLayout title="Lucas Kolinger | Resume | Frontend Developer">
  <div
    class="select-light m-4 flex justify-center rounded-2xl bg-gray-100 bg-repeat font-main text-gray-900 heropattern-circuitboard-slate-200 print:text-[12pt] print:text-black"
  >
    <div
      class="my-8 rounded-2xl border-2 border-gray-300 bg-gray-100 px-4 py-8 shadow-md print:my-0 print:border-none print:p-0 print:shadow-none"
    >
      <ResumeHeader />
      <div>
        <h2 class="mb-2 text-xl font-bold">Education & Certifications</h2>
        <ResumeCourseCard client:load />
        <ResumeEntryRow
          client:load
          head="A levels (Abitur)"
          body="Josef Effner Gymnasium (Germany)"
          from="2019"
          to="2021"
        />
        <h2 class="mb-1 ml-2 font-medium print:ml-0">Language Skills</h2>
        <p class="ml-2 text-gray-700 print:ml-0">
          German (native) | English (fluent) | Croatian (CEFR A2) | French (CEFR
          A1)
        </p>
        <h2 class="mt-4 mb-2 text-xl font-bold print:mt-2 print:mb-1">
          Coding Expertise
        </h2>
        <p
          class="max-w-xl rounded-lg border-[0.5px] border-gray-300 p-4 text-gray-700 shadow-md print:border-none print:p-0 print:shadow-none"
        >
          I am a self-taught, solution oriented developer with main emphasis on
          Frontend JavaScript development. I'm eager to learn new things every
          day and love cutting-edge technology and good user experiences.
        </p>
        <h2 class="mb-1 mt-4 ml-2 font-medium print:ml-0">Technologies</h2>
        <p class="ml-2 mb-4 max-w-xl text-gray-700 print:ml-0">
          HTML, CSS/SCSS/Tailwind, JavaScript, Typescript, React, Vue, Svelte,
          Sveltekit, Git/Npm, Framer-Motion, GSAP, Next.js, Nuxt.js,
          Astro.build, Vite, Webpack, Markdown, Web Components, Lit, Photoshop,
          Illustrator, Adobe XD, Figma
        </p>
        <h2 class="mt-4 mb-2 text-xl font-bold">Work Experience</h2>
        <ResumeEntryRow
          client:load
          head="Realizing personal projects"
          body="Relocation to croatian countryside in order to realize several projects related to sustainable agriculture and rural tourism."
          from="2022"
          to="Present"
        />
        <ResumeEntryRow
          client:load
          head="Globetrotter Ausrüstung (Germany)"
          body="Side job as a salesman for outdoor-equipment where I could gain a lot of experience in team playing and communication."
          from="2017"
          to="2022"
        />
      </div>
      <button
        id="printBtn"
        class="mt-4 rounded-xl bg-neutral-dark py-2 px-4 text-primary-light shadow-md hover:bg-neutral-accent print:hidden print:shadow-none"
        >Print Resume</button
      >
      <a
        class="ml-4 rounded-xl border-2 border-neutral-dark py-2 px-4 shadow-md print:hidden print:shadow-none"
        href="/"
      >
        Back to home</a
      >
    </div>
  </div>
</MainLayout>

<script>
  const printBtn = document.getElementById("printBtn");
  printBtn.addEventListener("click", () => {
    window.print();
  });
</script>
