<div
  class="mb-4 w-full rounded-lg border-[0.5px] border-gray-300 p-4 text-center"
>
  <h1 class="mb-2 text-3xl font-bold">Lucas Kolinger</h1>
  <p class="text-gray-700">www.lucaskolinger.dev | kolingerlucas@gmail.com</p>
  <p class="text-gray-700">+385(0)992125359 | +49(0)17641531531</p>
</div>
